* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color :#c2c2c2;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.content {
  display: table-row;
  height: 100%;
  width: 100%;
  text-align: center;
}
iframe {
  background-color: rgba(255,255,255,0.25);
}
h2 {
    color: ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

.footer h2{
  padding: 10px 5px 30px 5px;
}
#logo_bottom{
  padding: 30px 10px 10px 10px;
}
  h3 {
    color: ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
  }
.dark_text{
  color: #333333;
}

.titlewrapper {
  position: relative;
  margin-left: 60px;
  display: block;
}
.headtitle {
  background-color: #262626;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px dotted #595959;
  background-image: url('rubber_grip.png');
  background-repeat: repeat;
}
  .myName {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0px, 1px, 0px);
    text-align: left;
    padding-left: 0px;
      margin: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 25px;
  }
  .subtext {
    color: #d9d9d9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    transform: translate3d(0px, 1px, 0px);
    vertical-align: middle;
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
  }
  .contact {
    text-align: right;
    vertical-align: middle;
    padding-top: 15px;
    display: inline-block;
float: right;
padding-right: 15px;
  }

  .contact > p > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
  }
  #items {
    text-align: center;
    margin: 10px auto;
    margin-bottom: 0px;
  }
  #items > li {
    display: inline-block;
    margin: 0.35rem 0.5rem;
  }
  #items > li > a > img {
    border: 1px solid black;
  }
  /* .item {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 15px;
    background: rgb(0, 148, 255);
    padding: 80px 13px 10px 13px;
    text-decoration: none;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    transition: all .3s;
  } */
  .active_item {
    /* background: #e97a33;
    text-decoration: none; */
    box-shadow: 0px 34px 24px -26px rgba(255,191,0,1);
      transition: all .3s;
  }
  .divider {
    background-color: rgba(0, 0, 0, 0.2);
    height: 0px;
  }
.divider2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  }

.theme_color {
    height: 120px;
    width: 125px;
  display: table-cell;
  vertical-align: middle;
  }
.footer{
  background-color: #262626;
  background-image: url('rubber_grip.png');
    background-repeat: repeat;
}
#buttons{
  text-align: center;
  margin: 25px auto;
}
#buttons > li {
  display: inline-block;
  margin: 0.35rem 0.5rem;

}
.button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  color: #363636;
  font-size: 15px;
  background: white;

  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  transition: all .3s;



}

#buttons > li:hover {

  box-shadow: inset 5em 1em 1em 1em rgb(168, 168, 168);
}

.button:hover {

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  text-decoration: none;
}

.active_btn {
  background: #e97a33;
  text-decoration: none;
}

.button:active, button:focus {
  outline: none !important;
}
.button::-moz-focus-inner {
  border: 0 !important;
}

#desc{
  margin: 20px auto;
}
#bottom_desc{
  color: #B2B2B2;
  font-weight: 400;
  margin: 20px auto;
}
.item_quantity {
  color:#fff;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  background-color: #B2B2B2;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  text-shadow: rgba(0, 0, 0, 0.15) 0px 1px 10px;
